# Python
__pycache__/
*.py[cod]
*.sqlite3
env/
venv/

# Django
*.log
staticfiles/
media/invoices
media/logos
media/property_images
media/unit_images


# VS Code
.vscode/

# Environment
.env

# Django migrations
**/migrations/
**/migrations/*.py
**/migrations/__pycache__/

